@model dynamic

<h1>@Model.fullName</h1>

<section class="user-list-outer">
    <ul class="user-list">
        <li><strong>Username: </strong>@Model.username</li>
        <li><strong>Email: </strong>@Model.email</li>
        <li><strong>Password: </strong>@Model.password</li>
        <li><strong>Sign Up: </strong>@Model.signupDate</li>
        <li><strong>Last Sign In: </strong>@Model.lastSignin</li>
    </ul>
</section>

<section class="user-buttons-outer">
    <div class="user-buttons">
        @Html.ActionLink("Upload", "Index", "UploadSets")


        @Html.ActionLink("Sign Out", "SignOut", "UserSignIn")
    </div>
</section>






