<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.less")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar navbar-fixed-top">
        <div class="container">
            @Html.Action("MainMenu", "Tools")
        </div>
    </header>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            @Html.Action("FooterMenu", "Tools")
            <p>&copy; @DateTime.Now.Year</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.js")"></script>
    <script src="@Url.Content("~/Scripts/dragdrop.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
